name: Mvn clean test

on: 
  push:
    branches: [main]

jobs:
  test-and-build:
    runs-on: ubuntu-latest
    
    steps:
    - uses: actions/checkout@v4
    
    - name: Set up JDK 11
      uses: actions/setup-java@v3
      with:
        java-version: '11'
        distribution: 'temurin'
    
    - name: Run mvn clean test
      run: mvn clean test
    
    - name: Run mvn package
      run: mvn package
    
    - name: Upload build artifacts
      uses: actions/upload-artifact@v4
      with:
        name: maven-build
        path: target/